.navButton {
  text-align: center;
  margin-top: 1%;
}

.calculatorForm{
  width:100%;
  max-width:50%;
  padding:20px;
  margin: auto;
  height:100%;
}

#maxCapacity{
  font-size:40px;
}

.room{
  width:100%;
  max-width:50%;
  margin: auto;
  
 
}

.cover{
  height: 100%;
  width: 100%;
  margin-bottom:3%;

  text-align: center;
}


.roomInfo{
  font-size:20px;
}

